body {
  background-image: url(images/premium_photo-1669061097456-a7d45a726580.webp);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  font-size: medium;
  line-height: 24px;
}
.container {
  width: 1000px;
  margin: auto;
}
h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
  font-style: normal;
  line-height: 50px;
  color: white;
}
h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: small;
  font-style: normal;
  color: white;
}
h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}
a {
  text-decoration: none;
  color: rgb(18, 69, 83);
  margin: 30px;
}
a:hover {
  color: white;
}
.card-white {
  background-color: white;
  padding: 24px 48px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
  margin: 32px 0;
  background-image: url(images/56cb0-7dc9d011b620.jpg);
  background-size: cover;
}
.img-circle {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.btn-green {
  background-color: rgb(71, 144, 164);
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  display: inline-block;
}
.btn-green:hover {
  background-color:rgb(18, 69, 83);
}
.inline-list li {
  display: inline;
  margin: 0 0;
  font-size: 32px;
}
.inline-list {
  padding: 0;
}
.fa-brands.fa-square-github:hover, .fa-brands.fa-square-facebook:hover, .fa-brands.fa-square-instagram:hover {
  color:rgb(18, 69, 83);
}
@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
